$col-project1:          #ff784b;
$col-project2:          #1b803f;
$col-project3:          #24598b;
$col-project4:          #746aff;
$col-project5:          #ffe861;

$tinyDevice-width:        460px;
$smallDevice-width:       640px;
$mediumDevice-width:     1050px;
$largeDevice-width:      1600px;

$col-background:        #37464b;
$col-typo1:             #5d696c;
$col-typo2:             #9ea4a6;